bcrypt==1.1.0
cffi==0.8.6
ecdsa==0.13
Fabric==1.11.1
Flask==0.10.1
itsdangerous==0.24
Jinja2==2.7.3
MarkupSafe==0.23
paramiko==1.17.0
passlib==1.6.2
py2neo==2.0.5
https://github.com/Genesor/PyBambooHR/archive/master.zip
pycparser==2.10
pycrypto==2.6.1
requests==2.10.0
six==1.9.0
Werkzeug==0.9.6
xmltodict==0.10.2
